<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href=Styles/style.css>
    
  <title>Harvey Girls</title>
  <header> My first Blog </header>
</head>
<body>
  <div>
    <% @posts.each do |post| %>
      <h1><%= post['title'] %></h1>

      <div>
        <img src="<%= post['image'] %>" style="width:300px;height:500px">
      
        <p><%= post['body'] %></p>
      </div>
    <% end %>
</body>
</html>
<footer>created by Aaron Harvey 13 May 2015</footer>
